
.carts{
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    margin: 300px 600px;
    z-index: 10;
    background-color: rgba(211, 208, 208, 0.082);
    height: 1500px;
    
    border-radius: 30px;

}
.Daniel-Clifford{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: hsl(263, 55%, 52%);
    grid-column: 1/3;
    border-radius: 30px;
    box-shadow: 20px 20px 30px 10px rgba(0, 0, 0, 0.308) ;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    
}
.Daniel-name{
    padding-left: 20px;
    grid-column: 2/4;
    color: azure;
}

.Daniel-paragraphe1{
    grid-column: 1/7;
    color: azure;
}
.Daniel-paragraphe2{
    grid-column: 1/7;
    color: azure;
}





.Jonathan-Walters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: hsl(217, 19%, 35%);
    grid-column: 3/4;
    border-radius: 30px;
    box-shadow: 20px 20px 30px 10px rgba(0, 0, 0, 0.308) ;
}

/* .Jonathan-logo{
    background-image: url(./images/image-jonathan.jpg);
    background-repeat: no-repeat;
    background-size: contain; 
    grid-column: 1/2;
    
} */
.Jonathan-name{
    padding-left: 20px;
    grid-column: 2/4;
    color: azure;
}

.Jonathan-paragraphe1{
    grid-column: 1/7;
    color: azure;
}
.Jonathan-paragraphe2{
    grid-column: 1/7;
    color: azure;
}







.Jeanette-Harmon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: hsl(214, 17%, 92%);
    grid-column: 1/2;
    border-radius: 30px;
    box-shadow: 20px 20px 30px 10px rgba(0, 0, 0, 0.308) ;
}
/* .Jeanette-logo{
    background-image: url(./images/image-jeanette.jpg);
    background-repeat: no-repeat;
    background-size: contain; 
    grid-column: 1/2;
    
} */
.Jeanette-name{
    padding-left: 20px;
    grid-column: 2/4;
    color: hsl(217, 19%, 35%);
}

.Jeanette-paragraphe1{
    grid-column: 1/7;
    color: hsl(217, 19%, 35%);
}
.Jeanette-paragraphe2{
    grid-column: 1/7;
    color: hsl(217, 19%, 35%);
}

.Patrick-Abrams{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: hsl(219, 29%, 14%);
    grid-column: 2/4;
    border-radius: 30px;
    box-shadow: 20px 20px 30px 10px rgba(0, 0, 0, 0.308) ;
}
/* .Patrick-logo{
    background-image: url(./images/image-patrick.jpg);
    background-repeat: no-repeat;
    background-size: contain; 
    grid-column: 1/2;
    
} */
.Patrick-name{
    padding-left: 20px;
    grid-column: 2/4;
    color: hsl(0, 0%, 100%);
}

.Patrick-paragraphe1{
    grid-column: 1/7;
    color: hsl(0, 0%, 100%);
}
.Patrick-paragraphe2{
    grid-column: 1/7;
    color: hsl(0, 0%, 100%);
}

.Kira-Whittle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: hsl(214, 17%, 92%);
    grid-row: 1/3;
    grid-column: 4/5;
    border-radius: 30px;
    box-shadow: 20px 20px 30px 10px rgba(0, 0, 0, 0.308) ;
}
/* .Kira-logo{
    background-image: url(./images/image-kira.jpg);
    background-repeat: no-repeat;
    background-size: contain; 
    grid-column: 1/2;
    
} */
.Kira-name{
    padding-left: 20px;
    grid-column: 2/4;
    color: hsl(224, 10%, 45%);
}

.Kira-paragraphe1{
    grid-column: 1/7;
    color: hsl(224, 10%, 45%);
}
.Kira-paragraphe2{
    grid-column: 1/7;
    color: hsl(224, 10%, 45%);
}
h4{
    font-size: 2.4rem;
}
p{
    font-size: 2rem;
}